@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class=jumbotron>
        <h1 class="display-4">Welcome to the User Management System</h1>
        <p>Here you can add additional users, modify existing ones, or delete users altogether.</p>
        <br />
        <a class="btn-lg btn-dark" asp-controller="User" asp-action="Index">< Click Here to See the List of Users ></a>
    </div>
</div>
